<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resume Screening App</title>
    <link rel="stylesheet"  href="{{ url_for('static', filename='style.css') }}" />
</head>
<body>
    <h1>Resume Screening App</h1>
    <div class="form__group field">
        <form action="/predict" method="post">
        <textarea class="form__field" placeholder="Name" name="resume_text" id='name' rows="10" cols="50" required autofocus></textarea><br>
        <input class="submit_button" type="submit" value="Analyze">
        </div>

</body>
</html>
